[Desktop Entry]
Comment=Download Music from www.magnatune.com
Exec=magna
Icon=magna
MimeType=audio/x-mpegurl;
Name=MagnaDownloader
Terminal=0
Type=Application
MapNotify=false
Categories=Application;AudioVideo;
Encoding=UTF-8
